# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Publish

on:
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.4'

    - name: Setup Node.js environment
      uses: actions/setup-node@v6.1.0
      with:
        node-version: '25.1.0'
        registry-url: 'https://registry.npmjs.org'

    - name: Install
      run: make deps

    - name: Test
      run: make test

    - name: Build
      run: make build-all
        
    - name: Publish
      run: make npm-publish
      env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
